.container-options{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container-options-option{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
}