.container {
    display: flex; /* O display: flex; flex-direction: row; */
    width: 100%; /* O cualquier tamaño que desees */
    height: 100vh; /* Asegúrate de que ocupe toda la altura si es necesario */
}
.container-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-left-welcome{
    font-family: "Nerko One", cursive;
    font-size: 50px;
    color: rgb(26, 43, 118);
    margin-bottom: 10px;
}

.container-left-slogan{
    font-family: "Nerko One", cursive;
    font-size: 25px;
    color: rgb(27, 97, 32);
    margin-bottom: 15px;
    margin-top: 0px;
}